<h1> This is your very private Gif </h1>

<button><a href="/profile"> Back to Profile </a></button>

<iframe src="https://giphy.com/embed/iibH5ymW6LFvSIVyUc" width="464" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>