<h1> Your Profile Page </h1>
<h2> Welcome {{user.username}} </h2>

<form action="/logout" method="post">
    <button type="submit"> LOG OUT </button>
</form>

<button><a href="/createRoom"> + Create Room </a></button>

<button><a href="/allRooms"> See all Rooms </a></button>

 